<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/about_us.css")
    body
    include header.pug
    section.about_shop
        .about_container
            .about_content
                h3.about_shop О магазине Фетч
                p.about_shop В&nbsp;магазине Фетч представлено более 100 ведуших мировых производителей одежды и&nbsp;обуви.
                p.about_shop Разнообразие ассортимента обеспечивают товары культовых брендов современности: Barbour, Fred Perry, Norse Projects, Edwin и&nbsp;капсульные коллекции компаний, делающих ставку на&nbsp;эксклюзивность и&nbsp;премиальный статус своей продукции&nbsp;&mdash; Stone Island, Polo Ralph Lauren, C.P. Company.
                p.about_shop Приобрести последние можно лишь в&nbsp;нескольких торговых точках по&nbsp;всему миру, включая Фетч.
                p.about_shop Особый повод для гордости&nbsp;&mdash; обширная подборка редких и культовых кроссовок adidas Originals, Nike, New Balance, ASICS, Reebok и&nbsp;другие.
            .additional_about
                h6.address Москва, Тимирязевская, 3
                <br />
                a.add_mail(href="mailto:shop@fetch.ru") shop@fetch.ru
                <br />
                a.add_phone(href="tel:88009121142") 8 800 912-11-42
                <br />
                b.add_phone Звонок бесплатный
                .taxes_itc
                    p ИНН/КПП: 2901152637 / 290101001
                    p ОГРН: 1062901063576
                    .taxes_bic
                        p БИК: 041117601, 
                        p к/с 30101810100000000601
                .add_account
                    p Расчётный счёт: 40702810004000103812 в отделении N8637 Сбербанка России, Архангельск
                    //- p 40702810004000103812
                    //- p в отделении N8637 Сбербанка России, Архангельск
                .add_chief
                    p Генеральный директор&nbsp;&mdash; Василенко Артём Викторович
    script(src="scripts/script.js")
    include footer.pug


    

