footer
    .footer_container
        .fetch_footer
            .about_us 
                h6.fetch Фетч
                a.fetch_link(href="about_us.html") Магазин
                a.fetch_link(href="") Блог
                a.fetch_link(href="") Доставка и оплата
            .contact_us
                a.fetch_link_addr(href="mailto:shop@fetch.ru") shop@fetch.ru
                a.fetch_link_tel(href="88008121142") 8 800 912-11-42
                p.fetch_tel_add Звонок бесплатный
        .mens_footer
            a.formens(href="") Для мужчин
            a.mens_link(href="") Верхняя одежда
            a.mens_link(href="") Рубашки и поло
            a.mens_link(href="") Трикотаж
            a.mens_link(href="") Брюки и джинсы
            a.mens_link(href="") Бельё и носки
        .womans_footer
            a.forwomans(href="") Для женщин
            a.womans_link(href="") Верхняя одежда
            a.womans_link(href="") Рубашки и поло
            a.womans_link(href="") Трикотаж
            a.womans_link(href="") Платья и юбки
            a.womans_link(href="") Бельё и носки
        .shoes_footer
            a.shoes(href="") Обувь
            a.shoes_link(href="") Кроссовки и кеды
            a.shoes_link(href="") Ботинки
        .accessories_footer
            a.accessories(href="") Аксессуары
            a.accessories_link(href="") Сумки и рюкзаки
            a.accessories_link(href="") Часы
            a.accessories_link(href="") Бижутерия
            a.accessories_link(href="") Средства для ухода
        .discount_footer
            a.discount(href="") Скидки
            a.discount_link(href="") Летняя распродажа
            a.discount_link(href="") Коллекция 2018
        .footer_info
            p.info &copy Фэтч-команда, 2019
            a.info(href="#popup_rules") Правила обработки персональных данных
            a.info(href="") Разработка и поддержка сайта

#popup_rules.mfp-hide
    .popup_content
        h6.popup_header Правила обработки персональных данных
        p.popup_text Предоставляя свои персональные данные Пользователь даёт согласие на&nbsp;обработку, хранение и&nbsp;использование своих персональных данных на&nbsp;основании ФЗ &#8470;&nbsp;152-ФЗ &laquo;О&nbsp;персональных данных&raquo;<br /> от&nbsp;27.07.2006&nbsp;г.&nbsp;в&nbsp;следующих целях:
        p.popup_spec Осуществление клиентской поддержки; <br /> Получения Пользователем информации о&nbsp;маркетинговых событиях; <br /> Проведение аудита и&nbsp;внутренних исследований с&nbsp;целью<br />повышения качества предоставляемых услуг
        p.popup_text Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользвателя, такая как;
        p.popup_spec Фамилия, имя и&nbsp;отчество
        p.popup_text Персональные данные Пользователей хранятся исключительно на&nbsp;электронных носителях и&nbsp;обрабатываются с&nbsp;использованием автоматизированных систем, за&nbsp;исключением случаев, когда неавтоматизированная обработка персональных данных необходима в&nbsp;связи с&nbsp;исполнением требований законодательства.
        p.popup_text Компания обязуется не&nbsp;передавать полученные персональные данные третьим лицам, за&nbsp;исключением следуюзих случаев:
        p.popup_text По&nbsp;запросам уполномоченных орагнов госудраственной власти&nbsp;РФ только по&nbsp;основаниям и&nbsp;в&nbsp;поряке, установленным законодательством&nbsp;РФ
        p.popup_text Компания оставляет за&nbsp;собой право вносить изменения в&nbsp;одностороннем порядке в&nbsp;настоящие правила, при условии, что изменения не&nbsp;противоречат действующему закоодательсву РФ. Изменения условий настоящих правил вступают в&nbsp;силу после их&nbsp;публикации на&nbsp;Сайте.


script(src="scripts/jquery-3.5.1.js")
script(src="scripts/slick.min.js")
script(src="scripts/jquery.magnific-popup.min.js")
script(src="scripts/slides.js")



    
