.header_main_slider
    .main_slider_slides
        .mob_slides
            .slide
                img.mobile_pic(src="assets/img/header_pic.jpg", alt="")
                .slide_desc_content
                    span
                        a.detailed(href="") Распродажа до −15%
            .slide
                img.mobile_pic(src="assets/img/header_pic_2.jpg", alt="")
                .slide_desc_content
                    span
                        a.detailed(href="") Здесь могла быть ваша реклама
        .desktop_slides
            .slide
                img.desktop_pic(src="assets/img/header_pic_desk_1.jpg", alt="")
                .slide_desc_content
                    span
                        a.detailed(href="") Reebok Aztrek Double
            .slide
                img.desktop_pic(src="assets/img/header_pic_desk_2.jpg", alt="")
                .slide_desc_content
                    span
                        a.detailed(href="") Reebok Aztrek Double
