<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/order_complete.css")
    body
    include header.pug
    section.done_section
        h3.order_complete Заказ №213 оформлен
        p Скоро вам позвонит менеджер, чтобы подтвердить заказ.
        .go_back
            p <a href="index.html">Вернуться на&nbsp;главную</a> 
            p &nbsp;или <a href="shoes.html">продолжить покупки в&nbsp;каталоге</a>
    section.done_offer
        h3 Вам может быть интересно
        .done_offer_slider_mob
            .done_offer_item
                img(src="assets/img/desk_sneaker_1.jpg", alt="")
                a(href="") Maison Margiela Fusion Low Sneakers
                p.title Кроссовки
                .price
                    p 92&nbsp;000&nbsp;&#x20bd
            .done_offer_item
                img(src="assets/img/desk_sneaker_2.jpg", alt="")
                a(href="") Maison Margiela Fusion Low Sneakers
                p.title Кроссовки
                .price
                    p 92&nbsp;000&nbsp;&#x20bd
            .done_offer_item
                img(src="assets/img/desk_sneaker_4.jpg", alt="")
                a(href="") Maison Margiela Fusion Low Sneakers
                p.title Кроссовки
                .price
                    p 92&nbsp;000&nbsp;&#x20bd
            .done_offer_item
                img(src="assets/img/desk_sneaker_10.jpg", alt="")
                a(href="") Maison Margiela Fusion Low Sneakers
                p.title Кроссовки
                .price
                    p 92&nbsp;000&nbsp;&#x20bd
            .done_offer_item
                img(src="assets/img/desk_sneaker_2.jpg", alt="")
                a(href="") Maison Margiela Fusion Low Sneakers
                p.title Кроссовки
                .price
                    p 92&nbsp;000&nbsp;&#x20bd
            .done_offer_item
                img(src="assets/img/desk_sneaker_4.jpg", alt="")
                a(href="") Maison Margiela Fusion Low Sneakers
                p.title Кроссовки
                .price
                    p 92&nbsp;000&nbsp;&#x20bd
            .done_offer_item
                img(src="assets/img/desk_sneaker_10.jpg", alt="")
                a(href="") Maison Margiela Fusion Low Sneakers
                p.title Кроссовки
                .price
                    p 92&nbsp;000&nbsp;&#x20bd
        .done_offer_slider_desk
            .done_offer_item
                img(src="assets/img/desk_sneaker_1.jpg", alt="")
                a(href="") Maison Margiela Fusion Low Sneakers
                p.title Кроссовки
                .price
                    p 92&nbsp;000&nbsp;&#x20bd
            .done_offer_item
                img(src="assets/img/desk_sneaker_2.jpg", alt="")
                a(href="") Maison Margiela Fusion Low Sneakers
                p.title Кроссовки
                .price
                    p 92&nbsp;000&nbsp;&#x20bd
            .done_offer_item
                img(src="assets/img/desk_sneaker_4.jpg", alt="")
                a(href="") Maison Margiela Fusion Low Sneakers
                p.title Кроссовки
                .price
                    p 92&nbsp;000&nbsp;&#x20bd
            .done_offer_item
                img(src="assets/img/desk_sneaker_10.jpg", alt="")
                a(href="") Maison Margiela Fusion Low Sneakers
                p.title Кроссовки
                .price
                    p 92&nbsp;000&nbsp;&#x20bd
            .done_offer_item
                img(src="assets/img/desk_sneaker_2.jpg", alt="")
                a(href="") Maison Margiela Fusion Low Sneakers
                p.title Кроссовки
                .price
                    p 92&nbsp;000&nbsp;&#x20bd
            .done_offer_item
                img(src="assets/img/desk_sneaker_4.jpg", alt="")
                a(href="") Maison Margiela Fusion Low Sneakers
                p.title Кроссовки
                .price
                    p 92&nbsp;000&nbsp;&#x20bd
            .done_offer_item
                img(src="assets/img/desk_sneaker_10.jpg", alt="")
                a(href="") Maison Margiela Fusion Low Sneakers
                p.title Кроссовки
                .price
                    p 92&nbsp;000&nbsp;&#x20bd
    script(src="scripts/script.js")
    script(src="scripts/submitCheck.js")
    include footer.pug

    
