<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/shoes.css")
    body
    include header.pug
    section.shoes
        .shoes_container
            .product_name 
                h6 Обувь
            .items_list
                .item
                    img.sneaker_mob(src="assets/img/sneaker_1mob.webp", alt="")
                    img.sneaker_desk(src="assets/img/desk_sneaker_1.jpg", alt="")
                    a(href="item_details.html") Maison Margiela Fusion Low Sneakers
                    p.title Кроссовки
                    .price
                        p 92
                        p 000 &#x20bd
                .item
                    img.sneaker_mob(src="assets/img/sneaker_2mob.webp", alt="")
                    img.sneaker_desk(src="assets/img/desk_sneaker_2.jpg", alt="")
                    a(href="") Maison Margiela Fusion Low Sneakers
                    p.title Кроссовки
                    .price
                        p 92
                        p 000 &#x20bd
                .item
                    img.sneaker_mob(src="assets/img/sneaker_3mob.webp", alt="")
                    img.sneaker_desk(src="assets/img/desk_sneaker_3.jpg", alt="")
                    a(href="") Maison Margiela Fusion Low Sneakers
                    p.title Кроссовки
                    .price
                        p 92
                        p 000 &#x20bd
                .item
                    img.sneaker_mob(src="assets/img/sneaker_4mob.webp", alt="")
                    img.sneaker_desk(src="assets/img/desk_sneaker_4.jpg", alt="")
                    a(href="") Maison Margiela Fusion Low Sneakers
                    p.title Кроссовки
                    .price
                        p 92
                        p 000 &#x20bd
                .item
                    img.sneaker_mob(src="assets/img/sneaker_5mob.webp", alt="")
                    img.sneaker_desk(src="assets/img/desk_sneaker_5.jpg", alt="")
                    a(href="") Maison Margiela Fusion Low Sneakers
                    p.title Кроссовки
                    .price
                        p 92
                        p 000 &#x20bd
                .item
                    img.sneaker_mob(src="assets/img/sneaker_6mob.webp", alt="")
                    img.sneaker_desk(src="assets/img/desk_sneaker_6.jpg", alt="")
                    a(href="") Maison Margiela Fusion Low Sneakers
                    p.title Кроссовки
                    .price
                        p 92
                        p 000 &#x20bd
                .item
                    img.sneaker_mob(src="assets/img/sneaker_7mob.webp", alt="")
                    img.sneaker_desk(src="assets/img/desk_sneaker_7.jpg", alt="")
                    a(href="") Maison Margiela Fusion Low Sneakers
                    p.title Кроссовки
                    .price
                        p 92
                        p 000 &#x20bd
                .item
                    img.sneaker_mob(src="assets/img/sneaker_8mob.webp", alt="")
                    img.sneaker_desk(src="assets/img/desk_sneaker_8.jpg", alt="")
                    a(href="") Maison Margiela Fusion Low Sneakers
                    p.title Кроссовки
                    .price
                        p 92
                        p 000 &#x20bd
                .item
                    img.sneaker_mob(src="assets/img/sneaker_9mob.webp", alt="")
                    img.sneaker_desk(src="assets/img/desk_sneaker_9.jpg", alt="")
                    a(href="") Maison Margiela Fusion Low Sneakers
                    p.title Кроссовки
                    .price
                        p 92
                        p 000 &#x20bd
                .item
                    img.sneaker_mob(src="assets/img/sneaker_10mob.webp", alt="")
                    img.sneaker_desk(src="assets/img/desk_sneaker_10.jpg", alt="")
                    a(href="") Maison Margiela Fusion Low Sneakers
                    p.title Кроссовки
                    .price
                        p 92
                        p 000 &#x20bd
                .item
                    img.sneaker_mob(src="assets/img/sneaker_11mob.webp", alt="")
                    img.sneaker_desk(src="assets/img/desk_sneaker_11.jpg", alt="")
                    a(href="") Maison Margiela Fusion Low Sneakers
                    p.title Кроссовки
                    .price
                        p 92
                        p 000 &#x20bd
                .item
                    img.sneaker_mob(src="assets/img/sneaker_12mob.webp", alt="")
                    img.sneaker_desk(src="assets/img/desk_sneaker_12.jpg", alt="")
                    a(href="") Maison Margiela Fusion Low Sneakers
                    p.title Кроссовки
                    .price
                        p 92
                        p 000 &#x20bd
                .item
                    img.sneaker_mob(src="assets/img/sneaker_13mob.webp", alt="")
                    img.sneaker_desk(src="assets/img/desk_sneaker_13.jpg", alt="")
                    a(href="") Maison Margiela Fusion Low Sneakers
                    p.title Кроссовки
                    .price
                        p 92
                        p 000 &#x20bd
                .item
                    img.sneaker_mob(src="assets/img/sneaker_14mob.webp", alt="")
                    img.sneaker_desk(src="assets/img/desk_sneaker_14.jpg", alt="")
                    a(href="") Maison Margiela Fusion Low Sneakers
                    p.title Кроссовки
                    .price
                        p 92
                        p 000 &#x20bd
            .paginator
                .paginator_desc 
                    p Страницы
                .pages
                    a.chosed_one(href="") 1
                    a(href="") 2
                    a(href="") 3
                    a(href="") 4
                    a(href="") 5
                    a(href="") 6
                    a(href="") 7
                    a(href="") 8
                    a(href="") 9
                    a(href="") 10
                    a(href="") 11
                    a(href="") 12
    script(src="scripts/script.js")
    include footer.pug